

.apna_form {
 
    background-color: #f2f3f4;
    margin-top: 10%;
  
    align-items:center;
}
.mb-3 {
    display: flex;
 margin-right: 20px 10px;
 flex-direction: column;
 align-items: center;
 padding: 10px;
 color: black;
}